In [22]:
import pandas as pd
import seaborn as sns
import os

## Converting every DOGEx station to csv

In [30]:
for file in os.listdir('DOGEx_v1/raw'):
    if file[0] != '.' and os.path.isfile('DOGEx_v1/raw/' + file):
        with open('DOGEx_v1/raw/' + file) as to_read:
            lines = to_read.readlines()
            
        with open('DOGEx_v1/csv/' + file[0:4] + '.csv', "a") as to_append:
            for line in lines:
                line_reconstructed = ''

                items = line.split(' ')
                items = [item for item in items if item != '']

                for item in items:
                    line_reconstructed += item + ',' 
                line_reconstructed = line_reconstructed[0:-1]

                to_append.write(line_reconstructed)

## Creating test dataframe

In [33]:
df = pd.read_csv('DOGEx_v1/csv/ajgj.csv',sep=',', header=None)
df.columns = ['date', 'un', 'ue', 'uz', 'sn', 'se', 'sz']

In [34]:
df

           date        un        ue        uz       sn       se      sz
0     1992.4901  0.047245 -0.036244  0.007827  0.01520  0.00910  0.0157
1     1992.4956  0.048823 -0.022145 -0.009830  0.01925  0.01330  0.0201
2     1992.5010  0.058418 -0.045240 -0.000364  0.02240  0.01340  0.0212
3     1992.5038  0.037525 -0.022475  0.006226  0.01950  0.01180  0.0184
4     1992.5065  0.040887 -0.040527  0.009022  0.02450  0.01280  0.0244
...         ...       ...       ...       ...      ...      ...     ...
5287  2008.9802  0.562757 -0.459954  0.006077  0.00360  0.00290  0.0038
5288  2008.9829  0.561122 -0.461525  0.013030  0.00365  0.00285  0.0040
5289  2008.9856  0.561914 -0.462593  0.007390  0.00340  0.00285  0.0038
5290  2008.9884  0.562673 -0.458553  0.007888  0.00390  0.00330  0.0044
5291  2008.9911  0.561355 -0.464422  0.012526  0.00330  0.00280  0.0040

[5292 rows x 7 columns]

### Graphing deltas

In [ ]:
sns.lineplot(x = "date", y = "un", data = df)

In [ ]:
sns.lineplot(x = "date", y = "ue", data = df)

In [ ]:
sns.lineplot(x = "date", y = "uz", data = df)

### Isolating one offset and viewing it in three directions

In [ ]:
sns.lineplot(x = "date", y = "uz", data = df.iloc[1000:1100, :]) #Direction where the offset is clear

In [ ]:
sns.lineplot(x = "date", y = "un", data = df.iloc[1000:1100, :])

In [ ]:
sns.lineplot(x = "date", y = "ue", data = df.iloc[1000:1100, :])

### Graphing Standard Deviations in three directions

In [ ]:
sns.lineplot(x = "date", y = "sn", data = df)

In [ ]:
sns.lineplot(x = "date", y = "se", data = df)

In [ ]:
sns.lineplot(x = "date", y = "sz", data = df)

In [38]:
df.iloc[:, 0:2].to_csv('../LSTMAutoencoding/ajgj_un.csv')

In [39]:
df.drop(['un', 'ue', 'sn', 'se', 'sz'], axis=1).to_csv('../LSTMAutoencoding/ajgj_uz.csv')